* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html {
  height: 100%;
}

.cursorPointer {
  cursor: pointer;
}

.prev:hover {
  opacity: .5;
}

.next:hover {
  opacity: .5;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: black;
  background: #333;
  height: 100%;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background: #ED254E;
  color: black;
  align-items: center;
  /*This makes sure the items on the navbar are completely aligned*/
}

.pd-1 {
  padding: 1em;
}

.top-mg-2 {
  margin-top: 5em;
}

.mr-Sides-1 {
  margin: 0 1em;
}

.alignRight {
  text-align: right;
}

.centers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
}

.centerText {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

.nav ul {
  display: flex;
}

.nav a {
  color: #fff;
  padding: 0.45rem 1rem;
  margin: 0 0.25rem;
}

li {
  list-style-type: none;
}

.container {
  width: 60%;
  margin: auto;
  padding: 2em 2em;
  background: whitesmoke;
  height: 100%;

}

.pkSearch {
  display: flex;
  flex-direction: column;
}

.search {
  width: 100%;
  padding: 0.5em;
  display: block;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 2em;
}

.goSubmit {
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #C21F40;
  padding: 0.3em;
}

.goSubmit:hover {
  background: #ED254E;
}

.removeContent {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #F4FFFD;
  padding: 0.3em;
  margin-top: .5em;
}

.removeContent:hover {
  background: #F5F5F5;
}

.pad2 {
  padding: 2em;
}

.sidepad2 {
  padding-left: 2em;
  padding-right: 2em;
}

.pokeName {
  text-align: center;
  display: inline-block;
  font-size: 1.5em;
}

.pokeNum {
  margin-right: 1em;
  display: inline-block;
  font-weight: bold;
  font-size: 1.5em;
}

.space-between {
  margin: 0;
}

.pokeType {
  border: 1px solid black;
  padding: 1em;
  border-radius: 5px;
}

.clickSprite {
  font-size: 10px;
}

/* .sprites{
  width: 10em; The visuals unfortunately degrade as we scale them up. 
} */

.evolutions {
  display: flex;
  justify-content: center;
}

.evolutionArrows {
  display: flex;
  justify-content: center;
}

.roundBackground{
  border: 1px solid #011936;
  border-radius: 50%;
  background: #F9DC5C;
}

.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

/* Snackbar/Toast */

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  padding: 0.7rem;
  margin: 0.7rem 0;
  opacity: 0.9;
  background: #333;
  color: white;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible;
  /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 6s;
  animation: fadein 0.5s, fadeout 0.5s 6s;
}

/* These are to fit with the pokemon types and give them a color reminiscent of pokemon */

.normal {
  background: #a8a877;
  border-radius: 5px;
}

.fire {
  background: #f0802f;
  border-radius: 5px;
}

.water {
  background: #6790f0;
  border-radius: 5px;
}

.electric {
  background: #f8d02f;
  border-radius: 5px;
}

.grass {
  background: #78c84f;
  border-radius: 5px;
}

.ghost {
  background: #705897;
  border-radius: 5px;
}

.ice {
  border-radius: 5px;
  background: #98d8d8;
}

.fighting {
  background: #c03028;
  border-radius: 5px;
}

.poison {
  background: #9f409f;
  border-radius: 5px;
}

.ground {
  background: #e0c067;
  border-radius: 5px;
}

.bug {
  background: #a8b820;
  border-radius: 5px;
}

.flying {
  background: #A890F0;
  border-radius: 5px;
}

.psychic {
  background: #f85887;
  border-radius: 5px;
}

.rock {
  background: #b8a037;
  border-radius: 5px;
}

.dragon {
  background: #7038f8;
  border-radius: 5px;
}

.dark {
  background: #6f5847;
  border-radius: 5px;
}

.steel {
  background: #B8B8D0;
  border-radius: 5px;
}

.fairy {
  background: #EE98AC;
  border-radius: 5px;
}

.enlarge {
  width: 2em;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

/* Making the webpage responsive */

@media (max-width: 650px) {
  .container {
    width: 80%;
  }

  .hideOnSmall {
    display: none;
  }

  .flexDown {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .centerFlex {
    align-content: center;

  }

  .smallFontOnSmallScreen{
    font-size: 15px;
  }
}

@media (min-width: 750px) {
  .container {
    width: 80%;
  }

  .hideOnLarge {
    display: none;
  }

}

@media (min-width: 1080px) {


}