* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: black;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background: red;
  color: black;
  align-items: center; /*This makes sure the items on the navbar are completely aligned*/
  border-bottom: 1px solid red;
}

.pd-1 {
  padding: 1em;
}

a {
  text-decoration: none;
  color: black;
}

.nav ul {
  display: flex;
}

.nav a {
  color: #fff;
  padding: 0.45rem 1rem;
  margin: 0 0.25rem;
}

li {
  list-style-type: none;
}

.container {
  width: 60%;
  margin: auto;
  padding: 0 2em;
}

.pkSearch {
  display: flex;
  flex-direction: column;
}

.search {
  width: 100%;
  padding: 0.5em;
  display: block;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 1em 0;
}

.goSubmit {
  border-radius: 10px;
  border: 1px solid #ccc;
  background: lightcoral;
  padding: 0.3em;
}

.goSubmit:hover {
  background: lightpink;
}

.pokeContainer{
  display: flex;
  justify-content: center;
  padding: 2em;
}

.pokeName {
  text-align: center;
  display: inline-block;
  font-size: 1.5em;
}

.pokeNum {
  margin-right: 1em;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}

.pokeData{
text-align: center;
}


.spriteHolder {
  display: flex;
  justify-content: center;
}

.space-between{
margin: 0 .5em;
}

.pokeType{
  border: 1px solid black;
  padding: .5em;
  border-radius: 5px;
}

.clickSprite{
  font-size: 10px;
  display: flex;
  justify-content: center;
}

.evolutions{
  display: flex;
  justify-content: center;
}
.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

/* Snackbar/Toast */

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}